.neo-box {
  background: #fff;
  box-shadow: 10px 10px 20px #ebebeb, -10px -10px 20px #ffffff;
}

.col2-row2 {
  grid-column: span 2;
  grid-row: span 2;
  @media screen and (max-width: 639px) {
    grid-column: span 1;
    grid-row: span 1;
  }
}
